extends layout 
block scripts
  script.
    window.onload = function() {
      document.getElementById("idea").focus();
    };

block content
  - console.log(user)
  h1(class="text-center", style="margin-bottom: 15px;"). 
    !{user.username.toUpperCase()}'S IDEAS
  div(style="text-align: center;")
    form(name="idea-entry",method="post",class="form-inline",
        action="/addidea", style="text-align: center;")

      div(class="form-group ") 
        span(style="display: block;") 
          input(type="text", class="form-control", name="text",
              placeholder="Idea", style="width: 100%;", size="80", id="idea")

      div(class="form-group")
       button(type="submit", class="btn btn-default").
         Save
    br
    ul(style="list-style-type: none; padding-left: 0;")
      each idea, i in ideas.reverse()
        li(style="margin-bottom: 20px;")
          h4(style="text-align: center;"). 
            !{idea.text}
          div(class="row")
            form(class="form form-inline", action="/deleteidea", method="post")
              input(type="hidden", name="id", value=idea._id)
              div(class="form-group")
                button(class="btn btn-danger btn-xs", style="align: left;"). 
                  Delete
          hr(style="border-color: white; width: 55%; align: left;")

