extends layout 
//- I think the problem rn is that i dont have a way to store the previous
//- idea's id...not 100% sure -- need post method as well that returns just id
block scripts
  script.
    window.onload = setDefaults;

    function setDefaults() {
      //-get global username
      var user = $('#user_name').val();
      //-set focus to new thought by default
      document.getElementById("new").focus();

      //- when a listed thought is edited save the edit
      $('.edit').bind("input", (function(event) {
        var id = $(this).attr('id');
        saveEdit(id);
      })); 

      //- handle new thoughts
      $('#new').bind("input", function(event) {
          var text = $('#new').text();
          if(!$('#new').attr("idea_id")) {
            new_id = saveIdea(user.username);
            }
          else if($('#new').attr("idea_id")){
            saveEdit("new");
            }
            });
    };


    function saveIdea(user) {
      console.log("saving");
      var text = $("#new").text();
      console.log("text: " + text);
      $.post("/addidea",
          {
            "username": user,
            "text": text
          }
          ,function(data, textStatus) {
            new_id = data._id;
            $('#' + new_id + '_button').blur();
            $('#new').addClass("has_id");
            $('#new').attr("idea_id", new_id);
            console.log("set new to have has_id with id: " + new_id);
            });
    }

    function saveEdit(id) {
      var text = $("#" + id).text();
      if(id == "new") {
        id = $('#new').attr("idea_id");
      }
      console.log("updating" + id);
      $.post("/updateidea",
          {
            id: id,
            text: text
          },
          function(data, textStatus) {
            $('#' + id + '_button').blur();
              var_id = data;
            });
    }

    function clear_idea() {
      var id = $("#new").attr("idea_id");
      if(!(id == "")) {
        delete_idea(id);
        $("#new").attr("idea_id", "");
      }
      $("#new").text("");

      $('#clear_new').blur();

      }
    
    function delete_idea(id) {
      $.post("/deleteidea",
        {
          id: id
        });

      $('#' + id + '_listing').remove();
    }


    /* does the following
       clear new's text
       clear idea_id from new
       add idea to list of ideas
       set focus back to new
     */
    function new_idea() {
      //add idea to list of ideas
      //dirty hack, find a cleaner way
      var id = $("#new").attr("idea_id");
      $("#ideas li:eq(0)").after('<li style="margin-bottom: 20px;">\
          <div class="row" style="display: inline-block; width: 55%;">\
            <h4 style="text-align: center; margin-bottom: 0px;"\
              contenteditable="true" class="edit editable" \
              id=' + id + '>' + $("#new").text() + '</h4> \
              <form class="form" action="/deleteidea" method="post"> \
              <input type="hidden" name="id" value="' + id + '">\
              <div class="form-group" style="margin-bottom: 0px;">\
                <button class="btn btn-default btn-xs pull-left"> \
                  Delete\
                </button>\
              </div>\
              </form>\
              </div>\
          <hr style="border-color: white; width: 55%; align: left;">');
            
      //clear new
      $("#new").text("");
      $("#new").attr("idea_id", "");
      setDefaults();
    }

block content
  - console.log(user)
  h1(class="text-center", style="margin-bottom: 15px;"). 
    !{user.username.toUpperCase()}'S IDEAS
  div(style="text-align: center;")
    ul(style="list-style-type: none; padding-left: 0;", id="ideas")
      li(style="margin-bottom: 20px;")
          div(class="row", style="display: inline-block; width: 55%;")
            h2(style="text-align: center; \
                margin-bottom: 0px; background-color: rgba(255, 255, 255, .4);",
              contenteditable="true", class="editable img-rounded", id="new"). 
            div(class="form-group", style="margin-top: 5px;")
              //- clear input and put new idea in list
              button(class="btn btn-success btn-xs pull-left", 
                  onclick="new_idea()"). 
                New
              //- clear input (discard from db as well)
              button(class="btn btn-default btn-xs pull-left",
                  style="margin-left: 5px;", onclick="clear_idea()", 
                  id="clear_new"). 
                Clear
              
          hr(style="border-color: white; width: 55%; align: left;")
      each idea, i in ideas.reverse()
        li(style="margin-bottom: 20px;", id=idea._id + "_listing")
          div(class="row", style="display: inline-block; width: 55%;")
            h4(style="text-align: center; margin-bottom: 0px;",
              contenteditable="true", class="edit editable", id=idea._id). 
             !{idea.text}
            form(class="form", action="/deleteidea", method="post") 
              input(type="hidden", name="id", value=idea._id)
              div(class="form-group", style="margin-bottom: 0px;")
                button(class="btn btn-default btn-xs pull-left"). 
                  Delete
            //- The form updates automatically on each button press
            //-input(type="button", value="Save", onclick="saveEdit('" + idea._id + "')",
            //-    class="btn btn-default btn-xs pull-left" id=idea._id + "_button")
          hr(style="border-color: white; width: 55%; align: left;")
